<?xml version="1.0" encoding="utf-8"?>
<ConfigFilePathSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileServerMapPath>Config\FileServerMap.config</FileServerMapPath>
  <FileServerPath>Config\FileServer.config</FileServerPath>
  <DatabaseConfigPath>Config\Database.config</DatabaseConfigPath>
</ConfigFilePathSetting>