<?xml version="1.0" encoding="utf-8"?>
<ArrayOfDBInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DBInfo connectionKey="ENNConnString" connectionString="Data Source=.\devdb;Initial Catalog=EnnTrading;User ID=sa;Password=xinaoKEJI$%^"/>
  <DBInfo connectionKey="ENNConnString_1" connectionString="Data Source=.\devdb;Initial Catalog=EnnTrading;User ID=sa;Password=xinaoKEJI$%^"/>
  <DBInfo connectionKey="ENNConnString_2" connectionString="Data Source=.\devdb;Initial Catalog=EnnTrading;User ID=sa;Password=xinaoKEJI$%^"/>
</ArrayOfDBInfo>