<?xml version="1.0" encoding="gb2312"?>
<ArrayOfFileServer xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileServer key="product01">
    <RootPath>\\192.168.1.162\img01.900ku.com\product\</RootPath>
    <PublishUrl>http://img01.900ku.com/product/</PublishUrl>
    <Indentity>
      <UserName>EnnTradingFile</UserName>
      <Password>abc!@#456</Password>
      <Domain />
      <Impersonate>true</Impersonate>
    </Indentity>
    <ArrayOfMimeItem>
      <MimeItem key="image">
        <MimeTypeList>.jpg;.jpeg;.gif;.png;.bmp</MimeTypeList>
      </MimeItem>
      <MimeItem key="attachment">
        <MimeTypeList>.rar</MimeTypeList>
      </MimeItem>
    </ArrayOfMimeItem>
  </FileServer>
  <FileServer key="product02">
    <RootPath>\\192.168.1.162\img02.900ku.com\product\</RootPath>
    <PublishUrl>http://img02.900ku.com/product/</PublishUrl>
    <Indentity>
      <UserName>EnnTradingFile</UserName>
      <Password>abc!@#456</Password>
      <Domain />
      <Impersonate>true</Impersonate>
    </Indentity>
    <ArrayOfMimeItem>
      <MimeItem key="image">
        <MimeTypeList>.jpg;.bmp;.gif</MimeTypeList>
      </MimeItem>
      <MimeItem key="attachment">
        <MimeTypeList>.rar</MimeTypeList>
      </MimeItem>
    </ArrayOfMimeItem>
  </FileServer>
  <FileServer key="company01">
    <RootPath>\\192.168.1.162\img01.900ku.com\Company\</RootPath>
    <PublishUrl>http://img01.900ku.com/company/</PublishUrl>
    <Indentity>
      <UserName>EnnTradingFile</UserName>
      <Password>abc!@#456</Password>
      <Domain />
      <Impersonate>true</Impersonate>
    </Indentity>
    <ArrayOfMimeItem>
      <MimeItem key="image">
        <MimeTypeList>.jpg;.bmp;.gif</MimeTypeList>
      </MimeItem>
      <MimeItem key="attachment">
        <MimeTypeList>.rar</MimeTypeList>
      </MimeItem>
    </ArrayOfMimeItem>
  </FileServer>
  <FileServer key="attachment">
    <RootPath>\\192.168.1.162</RootPath>
    <PublishUrl>http://www.cctv.com</PublishUrl>
    <Indentity>
      <UserName>EnnTradingFile</UserName>
      <Password>abc!@#456</Password>
      <Domain />
      <Impersonate>true</Impersonate>
    </Indentity>
    <ArrayOfMimeItem>
      <MimeItem key="image">
        <MimeTypeList>.jpg;.bmp;.gif</MimeTypeList>
      </MimeItem>
      <MimeItem key="attachment">
        <MimeTypeList>.rar</MimeTypeList>
      </MimeItem>
    </ArrayOfMimeItem>
  </FileServer>
</ArrayOfFileServer>