<?xml version="1.0" encoding="gb2312"?>
<ArrayOfFileServerMap xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileServerMap serviceType="product" mimeItemKey="image">
    <MapName>product01</MapName>
    <StartDate>2010-05-01</StartDate>
    <EndDate>2011-05-01</EndDate>
  </FileServerMap>
  <FileServerMap serviceType="product" mimeItemKey="image">
    <MapName>product01</MapName>
    <StartDate>2011-05-01</StartDate>
    <EndDate>2012-05-01</EndDate>
  </FileServerMap>
  <FileServerMap serviceType="company" mimeItemKey="image">
    <MapName>company01</MapName>
    <StartDate>2010-05-01</StartDate>
    <EndDate>2012-05-01</EndDate>
  </FileServerMap>
  <FileServerMap serviceType="attachment" mimeItemKey="attachment">
    <MapName>attachment</MapName>
  </FileServerMap>
</ArrayOfFileServerMap>
